body{
    padding-left: 30% ;
    margin-top: 200px;
 }
 h1{
     font-size: 50px;
 }
 #green{
     border: 1px solid transparent;
     background-color: green;
     width: 250px;
     height: 50px;
     font-size: 30px;
     margin-left: 200px;
     font-family: sans-serif;
 }
 #red{
     border: 1px solid transparent;
     background-color: red;
     width: 250px;
     height: 50px;
     font-size: 30px;
     margin-left: 200px;
 }
 p{
     font-size: 30px;
     font-weight: bold;
     padding-left: 300px;
 }